<script src="js/home.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
if(<%= login_value %> ===true)
    {
      $( "#signupbtn" ).remove();
    
    }
    else 
    {
      $( "#logoutbtn" ).remove();
      $( "#profilebtn" ).remove();
         
    
    }</script>
</body>
</html>
