
<%- include('partials/header.ejs') %>
    
    <form name="input" method="POST" action="/input">
    <div class="webflow-style-input" data-aos="zoom-in-up">
      
      <input class="" name="languagetosearch" placeholder="Enter the Language"></input>
      <button type="submit"><i class="icon fa fa-angle-right"></i></button>
    
    </div>
  </form>
<%- include('partials/footer.ejs') %>
 